* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: #0797bb;
    display: flex;
}

.box { /* Classe/Elemento criado via javascript */
    width: 20%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.box span { /* Classe/Elemento criado via javascript */
    font-size: 20px;
    letter-spacing: 1px;
}

button {
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px 28px;
    border: none;
    outline: none;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}